body::after {
  content: "";
  background-color: rgba(21, 21, 21, 0.68);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}
.popup-show body::after {
  opacity: 1;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}
.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}
.popup_show .popup__content {
  visibility: visible;
  transform: scale(1);
}
.popup__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup__content {
  visibility: hidden;
  transform: scale(0);
  transition: transform 0.3s ease 0s;
  background-color: #fff;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  border-radius: 20px;
  .lock & {
    visibility: visible;
  }
}

.sale-popup {
  &__content {
    display: flex;
    align-items: center;
    max-width: rem(742);

    @include adaptiveValue("padding-top", 37, 25);
    @include adaptiveValue("padding-bottom", 50, 30);

    @media (max-width: em(650)) {
      flex-direction: column;
      align-items: center;
      gap: rem(20);
    }
  }

  &__image {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 100%;
    }
  }

  &__text {
    flex: 0 0 rem(331);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__pretitle {
    font-weight: 700;
    font-size: rem(28);
    line-height: 153.6%; /* 43/28 */
    text-align: center;
    text-transform: uppercase;
    color: #c74b4d;

    &:not(:last-child) {
      margin-bottom: rem(5);
    }
  }

  &__subtitle {
    font-family: "P22UndergroundCYMedium";
    font-size: rem(15);
    line-height: 120%; /* 18/15 */
    text-align: center;
    color: #919191;

    &:not(:last-child) {
      margin-bottom: rem(15);
    }
  }

  &__title {
    font-weight: 700;
    font-size: rem(26);
    line-height: 115.4%; /* 30/26 */
    text-align: center;
    text-transform: uppercase;
    color: #2d2d2d;

    &:not(:last-child) {
      margin-bottom: rem(28);
    }

    span {
      color: #c74b4d;
    }
  }

  &__form {
  }
}
.form-sale {
  max-width: rem(280);
  width: 100%;
  &__line {
    &:not(:last-child) {
      margin-bottom: rem(15);
    }
  }

  &__input {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 500;
    font-size: rem(15);
    line-height: 120%; /* 18/15 */

    padding: rem(0) rem(14);
    color: #000;
    max-width: 279px;
    width: 100%;
    height: rem(45);
    border: 1px solid #919191;
    border-radius: 5px;
    background-color: transparent;

    &:focus {
      outline: 1px solid #919191;
    }
    &::placeholder {
      color: #919191;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 45px;

    font-family: "Gilroy";
    font-style: normal;
    font-weight: 700;
    font-size: rem(15);
    line-height: 126.7%; /* 19/15 */
    color: #ffffff;
  }
}
