@font-face {
	font-family: MuseoSansCyrl;
	font-display: swap;
	src: url("../fonts/MuseoSansCyrl-900.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-900.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Gilroy;
	font-display: swap;
	src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: P22UndergroundCYProHeavy;
	font-display: swap;
	src: url("../fonts/P22UndergroundCYProHeavy.woff2") format("woff2"), url("../fonts/P22UndergroundCYProHeavy.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Gilroy;
	font-display: swap;
	src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: P22UndergroundCYMedium;
	font-display: swap;
	src: url("../fonts/P22UndergroundCYMedium.woff2") format("woff2"), url("../fonts/P22UndergroundCYMedium.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: P22UndergroundCYProDemi;
	font-display: swap;
	src: url("../fonts/P22UndergroundCYProDemi.woff2") format("woff2"), url("../fonts/P22UndergroundCYProDemi.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
