// Заголовки, общие БЄМ блоки и проче...

.title {
  position: relative;
  font-weight: 700;
  @include adaptiveValue("font-size", 30, 22);
  line-height: 100%; /* 30/30 */
  text-align: center;
  text-transform: uppercase;
  color: #c74b4d;

  &_line {
    &::before {
      content: "";
      position: absolute;
      width: rem(76);
      height: rem(2);
      left: 50%;
      bottom: rem(-6);
      transform: translateX(-50%);
      background-color: #c74b4d;
    }
  }
}

.circle {
  position: absolute;
  background: rgba(199, 75, 77, 0.32);
  filter: blur(50px);

  pointer-events: none;
}

.cart-items {
  counter-reset: item;
  display: grid;
  gap: rem(10);

  @media (min-width: $mobileSmall) {
    grid-template-columns: repeat(auto-fit, minmax(rem(400), 1fr));
  }
}

.cart-item {
  position: relative;
  background: #ffffff;
  border-radius: rem(20);
  display: flex;
  align-items: center;
  @include adaptiveValue("column-gap", 35, 20);
  @include adaptiveValue("padding-top", 33, 20);
  @include adaptiveValue("padding-bottom", 33, 20);
  @include adaptiveValue("padding-left", 44, 25);
  @include adaptiveValue("padding-right", 36, 15);

  &__ico {
    flex-shrink: 0;
    @media (max-width: $mobile) {
      max-width: rem(70);
    }
    img {
      max-width: 100%;
    }
  }

  &__content {
  }

  &__title {
    font-family: "P22UndergroundCYProHeavy";
    font-size: rem(16);
    line-height: 112.5%; /* 18/16 */
    color: #384044;

    &:not(:last-child) {
      margin-bottom: rem(9);
    }
  }

  &__text {
    font-family: "P22UndergroundCYMedium";
    font-size: rem(13);
    line-height: 138.5%; /* 18/13 */
    color: #727272;
  }

  &__inner {
    display: flex;
    align-items: center;
    @include adaptiveValue("column-gap", 28, 20);

    margin-bottom: rem(5);
  }

  &__link {
    display: flex;
    align-self: end;
    align-items: center;
    justify-content: center;
    border: 1.5px solid #c74b4d;
    filter: drop-shadow(0px 16px 24px rgba(199, 75, 77, 0.25));
    border-radius: 5px;

    font-family: "P22UndergroundCYProDemi";
    font-size: rem(15);
    line-height: 120%; /* 18/15 */
    color: #c74b4d;
    min-width: rem(126);
    height: rem(38);
    margin-top: auto;
    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        background-color: #c74b4d;
        color: #fff;
      }
    }
  }
}
