//====================================================================================================

.header {
  //   position: absolute;
  //   width: 100%;
  //   top: 0;
  //   left: 0;
  //   z-index: 2;
  background-color: #232323;

  &__wrapper {
    position: relative;
    @media (max-width: $tablet) {
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: -100%;
        background-color: #c74b4d;
        box-shadow: rgb(80 38 38 / 40%) 0px 7px 29px 0px;
        transition: left 0.3s ease 0s;
        -webkit-transition: left 0.3s ease;
        -moz-transition: left 0.3s ease;
        -o-transition: left 0.3s ease;
        z-index: 6;
        pointer-events: none;

        .menu-open & {
          left: 0;
        }
      }
    }
  }

  &__container {
  }

  &__body {
    display: flex;
    align-items: center;

    @include adaptiveValue("min-height", 121, 80);

    @media (max-width: $tablet) {
      justify-content: space-between;
    }
  }

  &__logo {
    position: relative;
    z-index: 6;
  }

  &__menu {
    @media (min-width: $tablet) {
      display: flex;
      justify-content: flex-end;
      flex: 1 1 auto;
      margin-left: auto;
    }
  }

  &__submit {
    font-family: "Gilroy";
    font-weight: 700;
    font-size: rem(18);
    line-height: 122.2%; /* 22/18 */
    min-height: rem(51);

    @media (max-width: $tablet) {
      border-color: #fff;
      color: #fff;
      margin: 0 auto;
      margin-top: rem(20);
    }
  }
}
.menu {
  &__body {
    @media (min-width: $tablet) {
      display: flex;
      align-items: center;
    }
    @media (max-width: $tablet) {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: -100%;
      overflow-x: hidden;
      overflow-y: auto;
      transition: left 0.3s ease 0s;
      -webkit-transition: left 0.3s ease;
      -moz-transition: left 0.3s ease;
      -o-transition: left 0.3s ease;
      background-color: #c74b4d;
      padding: rem(100) rem(15) rem(40);
      z-index: 5;

      @include adaptiveValue("padding-top", 152, 100, 991, 375, 1);

      .menu-open & {
        left: 0;
      }
    }
  }

  &__list {
    display: flex;
    align-items: center;
    @include adaptiveValue("gap", 25, 10);

    @media (min-width: $tablet) {
      &:not(:last-child) {
        margin-right: rem(35);
      }
    }
    @media (max-width: $tablet) {
      flex-direction: column;
    }
  }

  &__item {
  }

  &__link {
    font-family: "Gilroy";
    font-weight: 700;
    font-size: rem(18);
    @include adaptiveValue("font-size", 18, 16, 1100, 991, 1);
    line-height: 122.2%; /* 22/18 */
    color: #ffffff;
    display: block;
    padding: rem(10) rem(5);
    transition: all 0.3s ease 0s;

    @media (max-width: $tablet) {
      font-size: rem(32);
    }

    @media (any-hover: hover) {
      &:hover {
        color: #c74b4d;
      }
    }
  }

  &__icon {
  }
}

//====================================================================================================

//Burger

.icon-menu {
  display: none;
  @media (max-width: $tablet) {
    display: block;
    position: relative;
    width: rem(40);
    height: rem(28);
    margin-left: rem(35);
    cursor: pointer;
    z-index: 6;
    span,
    &::before,
    &::after {
      content: "";
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      right: 0;
      position: absolute;
      width: 100%;
      height: rem(3);
      background-color: #fff;
      border-radius: 2px;
      transform: rotate(0);
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: calc(50% - rem(1));
    }
    .menu-open & {
      span {
        width: 0;
      }
      &::before,
      &::after {
      }
      &::before {
        top: calc(50% - rem(1));
        transform: rotate(-45deg);
      }
      &::after {
        bottom: calc(50% - rem(1));
        transform: rotate(45deg);
      }
    }
  }
}
