//====================================================================================================
.hero {
  position: relative;
  @include adaptiveValue("padding-top", 202, 120);
  @include adaptiveValue("padding-bottom", 75, 40);
  &__container {
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-family: "Museo Sans Cyrl";
    font-weight: 700;
    @include adaptiveValue("font-size", 40, 32);
    line-height: 107.5%; /* 43/40 */
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;

    max-width: 485px;

    &:not(:last-child) {
      margin-bottom: rem(18);
    }

    span {
      color: #c74b4d;
    }
  }

  &__text {
    font-family: "P22UndergroundCYMedium";
    font-size: rem(15);
    line-height: 120%; /* 18/15 */
    text-align: center;
    color: #d2d2d2;
    max-width: 371px;

    &:not(:last-child) {
      margin-bottom: rem(27);
    }
  }

  &__buttons {
    display: flex;
    row-gap: rem(15);
    column-gap: rem(20);

    @media (max-width: $mobileSmall) {
      flex-direction: column;
      width: 100%;
    }

    &:not(:last-child) {
      margin-bottom: rem(40);
    }
  }

  &__button {
    min-height: rem(51);

    @media (max-width: $mobileSmall) {
      width: 100%;
    }
  }

  &__social {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 100, 35);
    }
  }

  &__advantages {
  }

  &__bg-ibg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.social-hero {
  font-family: "P22UndergroundCYProHeavy";
  font-size: rem(15);
  line-height: 120%;
  text-align: center;
  color: #d2d2d2;
  display: flex;
  align-items: center;
  column-gap: rem(20);
  &__title {
  }

  &__link {
    &::before {
      transition: all 0.3s ease 0s;
      font-size: rem(25);
    }

    @media (any-hover: hover) {
      &:hover {
        &::before {
          color: #c74b4d;
        }
      }
    }
  }
}

.advantages-hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  @include adaptiveValue("column-gap", 96, 45);
  row-gap: rem(20);
  &__item {
    text-align: center;
  }

  &__title {
    font-weight: 700;
    @include adaptiveValue("font-size", 37, 24);
    line-height: 116.2%; /* 43/37 */
    text-transform: uppercase;
    color: #c74b4d;

    &:not(:last-child) {
      margin-bottom: rem(8);
    }
  }

  &__text {
    font-family: "P22UndergroundCYMedium";
    font-size: rem(15);
    line-height: 120%; /* 18/15 */
    color: #d2d2d2;
  }
}

//====================================================================================================

//========================================================================================================================================================

.about {
  &__container {
    position: relative;
    @include adaptiveValue("padding-top", 95, 40);
    @include adaptiveValue("padding-bottom", 45, 40);
  }

  &__body {
    display: flex;
    justify-content: space-between;
    column-gap: rem(30);
    row-gap: rem(15);

    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }

  &__title {
    font-style: normal;
    font-weight: 700;
    @include adaptiveValue("font-size", 30, 22);
    line-height: 143.3%; /* 43/30 */
    text-transform: uppercase;
    color: #c74b4d;
    flex-shrink: 0;
  }

  &__content {
  }

  &__text {
    max-width: rem(524);
    font-family: "P22UndergroundCYMedium";
    font-size: rem(13);
    line-height: 138.5%; /* 18/13 */
    color: #727272;
    & p {
      &:not(:last-child) {
        margin-bottom: rem(13);
      }
    }

    & b {
      color: #384044;
    }
  }

  &__circle {
    width: 191px;
    height: 181px;
    top: percent(70, 278);
    left: percent(-40, 1070);

    background: rgba(199, 75, 77, 0.45);
    filter: blur(100px);
  }

  .pre-title {
    font-style: normal;
    font-weight: 700;
    @include adaptiveValue("font-size", 70, 30);
    line-height: 61.4%; /* 43/70 */
    text-transform: uppercase;
    color: rgba(224, 224, 224, 0.54);
    position: absolute;
    @include adaptiveValue("top", 72, 35);
    left: rem(15);
    // transform: translateY(-50%);
    z-index: -1;
    pointer-events: none;
  }
}

//========================================================================================================================================================

.advantages {
  background-image: url("@img/advantage/bg.png");
  background-position: bottom;
  background-repeat: no-repeat;
  @media (max-width: $pc) {
    background-size: contain;
  }
  &__container {
    position: relative;
    @include adaptiveValue("padding-top", 45, 30);
    @include adaptiveValue("padding-bottom", 189, 60);
  }

  &__body {
  }

  &__title {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 55, 40);
    }
  }

  &__items {
  }

  &__item {
    &::after {
      counter-increment: item;
      content: counter(item, decimal-leading-zero) ".";
      font-family: "Museo Sans Cyrl";
      font-weight: 700;
      @include adaptiveValue("font-size", 90, 70);
      line-height: 46.2%; /* 43/93 */
      text-transform: uppercase;
      color: rgba(224, 224, 224, 0.33);

      position: absolute;
      top: rem(-10);
      right: rem(12);
    }
  }

  &__circle {
    width: 216px;
    height: 191px;
    top: percent(207, 625);
    left: percent(1057, 1070);
  }
}

//========================================================================================================================================================

.services {
  &__container {
    position: relative;
    @include adaptiveValue("padding-top", 87, 30);
    padding-bottom: rem(40);
    // @include adaptiveValue("padding-bottom", 40, 40);
  }

  &__body {
  }

  &__title {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 43, 30);
    }
  }

  &__items {
  }

  &__item {
    align-items: flex-start;
    flex-direction: column;

    @include adaptiveValue("padding-top", 30, 20);
    @include adaptiveValue("padding-bottom", 23, 15);
    @include adaptiveValue("padding-left", 32, 20);
    @include adaptiveValue("padding-right", 32, 20);
  }

  &__circle {
    width: 188px;
    height: 165px;
    left: auto;
    top: percent(87, 1588);
    right: percent(1080, 1070);
    z-index: -1;
  }
}

//========================================================================================================================================================

.companies {
  background-image: url("@img/companies/bg.png");
  background-position: bottom;
  background-repeat: no-repeat;

  @media (max-width: $pc) {
    background-size: contain;
  }
  &__container {
    position: relative;
    @include adaptiveValue("padding-top", 45, 30);
    @include adaptiveValue("padding-bottom", 189, 60);
  }

  &__body {
  }

  &__title {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 43, 30);
    }
  }
  &__content {
    position: relative;
  }
  &__slider {
  }

  &__wrapper {
  }

  &__slide {
    padding: rem(15);
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    border-radius: 20px;
    @include adaptiveValue("height", 240, 160);

    img {
      max-width: 100%;
    }
  }

  &__circle {
    width: 188px;
    height: 181px;
    top: percent(-33, 556);
    left: percent(1021, 1070);
    z-index: -1;
  }
}

//========================================================================================================================================================

.clients {
  &__container {
    position: relative;
    @include adaptiveValue("padding-top", 87, 40);
    @include adaptiveValue("padding-bottom", 97, 40);
  }

  &__body {
  }

  &__title {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 43, 30);
    }
  }

  &__content {
    position: relative;
  }

  &__slider {
  }

  &__wrapper {
  }

  &__slide {
    background: #ffffff;
    border-radius: 20px;
  }

  &__navigation {
  }

  &__circle {
    width: 188px;
    height: 181px;
    top: percent(21, 522);
    right: 100%;
    left: auto;
  }
}
.slide-clients {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include adaptiveValue("padding-top", 23, 20);
  @include adaptiveValue("padding-bottom", 23, 20);
  @include adaptiveValue("padding-left", 11, 10);
  @include adaptiveValue("padding-right", 11, 10);
  &__image {
    width: 86px;
    height: 86px;
    border-radius: 50%;
  }

  &__name {
    font-weight: 700;
    font-size: rem(16);
    line-height: 268.8%; /* 43/16 */

    color: #384044;
    &:not(:last-child) {
      margin-bottom: rem(5);
    }
  }

  &__text {
    font-family: "P22UndergroundCYMedium";
    font-size: rem(12);
    line-height: 150%; /* 18/12 */

    text-align: center;
    color: #919191;
  }
}

//========================================================================================================================================================

.connection {
  position: relative;
  &__container {
  }

  &__body {
    @media (min-width: $mobile) {
      display: flex;
    }
  }

  &__form {
    @media (min-width: $mobile) {
      flex: 1 0 50%;
    }
    @media (max-width: $mobile) {
      background-image: url("@img/connection/bg.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      margin: 0 rem(-15);
    }
  }

  &__contact {
    @media (min-width: $mobile) {
      flex: 1 0 50%;
    }

    @media (max-width: $mobile) {
      background-image: url("@img/connection/map.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__bg {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    @media (max-width: $mobile) {
      display: none;
    }
  }

  &__image-bg-ibg {
    @media (min-width: $mobile) {
      flex: 1 0 50%;
    }
  }

  &__map-ibg {
    @media (min-width: $mobile) {
      flex: 1 0 50%;
    }
    @media (max-width: $mobile) {
      padding-bottom: 80%;
      margin: 0 rem(-15);
    }

    &_hide {
      @media (min-width: $mobile) {
        display: none;
      }
    }
  }
}
.map {
}

.form-connection {
  padding-right: rem(15);

  @media (max-width: $tablet) {
    padding: 0 rem(15);
  }
  @include adaptiveValue("padding-top", 62, 30);
  @include adaptiveValue("padding-bottom", 100, 40);

  &__title {
    font-family: "Museo Sans Cyrl";
    font-style: normal;
    font-weight: 700;
    @include adaptiveValue("font-size", 30, 22);
    line-height: 143.3%; /* 43/30 */
    text-transform: uppercase;
    color: #ffffff;

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 48, 30);
    }
  }

  &__line {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &:not(:last-child) {
      margin-bottom: rem(19);
    }

    @media (min-width: $mobile) {
      max-width: 374px;
    }
  }

  &__label {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 500;
    font-size: rem(16);
    line-height: 118.8%; /* 19/16 */
    text-align: center;
    color: #ffffff;

    &:not(:last-child) {
      margin-bottom: rem(20);
    }
  }

  &__input {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 500;
    font-size: rem(18);
    line-height: 118.8%; /* 19/16 */
    width: 100%;
    @include adaptiveValue("height", 53, 45);
    border: 1px solid #acacac;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    padding: 0 rem(15);

    &:focus {
      outline: 1px solid #fff;
    }
  }

  &__button {
    padding-top: rem(5);
    @media (min-width: $mobile) {
      max-width: 374px;
    }
  }
  &__button-btn {
    background: #c74b4d;
    box-shadow: 0px 16px 24px rgba(199, 75, 77, 0.29);
    border-radius: 5px;
    @include adaptiveValue("height", 53, 45);
    width: 100%;
  }
}

.contact-connection {
  position: relative;
  background: #c74b4d;
  min-height: rem(110);
  height: max-content;

  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: rem(17);
  line-height: 123.5%; /* 21/17 */
  text-align: center;
  color: #ffffff;

  align-self: flex-end;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: rem(47);
  padding: rem(15) rem(20) rem(15) rem(50);

  @media (max-width: $mobile) {
    margin: 0 rem(-15);
    padding: rem(15);
  }
  @media (min-width: $mobile) {
    margin-bottom: rem(72);
  }

  &::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 100%;
    background: #c74b4d;
  }

  &__item {
    display: flex;
    align-items: center;
    column-gap: rem(10);

    @media (any-hover: hover) {
      &:hover {
        span {
          text-decoration: underline;
        }
      }
    }

    &::before {
      font-size: rem(25);
    }
  }
}

//========================================================================================================================================================
